<%- include("template/cabecera", {tituloWeb: 'Crear nueva mascota'}) %>

    <div class="container">
        <h1>Agregar Producto</h1>
        <form action="/productos" method="POST">
            <input 
                type="text"
                placeholder="Agregar nombre"
                class="form-control my-2"
                name="nombre" required
            > 
            <input 
                type="text"
                placeholder="Agregar precio"
                class="form-control my-2"
                name="precio" required
            >
            <input 
                type="text"
                placeholder="Agregar descripción"
                class="form-control my-2"
                name="descripcion" required
            >
            <input 
                type="text"
                placeholder="Agregar categoria"
                class="form-control my-2"
                name="categoria" required
            >
            <input 
                type="text"
                placeholder="Agregar codigo"
                class="form-control my-2"
                name="codigo" required
            >
            <button
                class="btn btn-success btn-block"
                type="submit"
            >
                Agregar
            </button>
        </form>
    </div>
    

<%- include("template/footer") %>